HOST=127.0.0.1
PORT=3010
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=scrypt$REPLACE_WITH_SALT$REPLACE_WITH_HASH
DEPLOY_GITHUB_REPO=https://github.com/gh50/games-portal
DEPLOY_GITHUB_BRANCH=main
DEPLOY_GITHUB_TOKEN=
